<div class="panel-pane pane-panels-mini pane-call-us-solutions">
	<div class="pane-content">
		<div class="panel-pane pane-dsc">
			<div class="pane-content">
				<div id="gcsc" class="row clearfix">
					<div class="col-md-12 column">
						<div class="gcsc_slide">
							<h2>Become part of the<br> smartShift revolution</h2>
                            <div class="gcsc_brief">
								<p>Find out more about our automation approach and how it can transform enterprise software management for your organization.</p>
                            </div>
                            <a data-toggle="modal" data-target="#basicModal" class="btn btn-primary readmore_style3 GoogleAnalyticsET-processed" href="#" role="button">REQUEST CALL</a>
                            <a class="btn btn-primary readmore_style2" href="/contact.html" role="button">GET IN TOUCH</a> 
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>