---
title: Welcome to SmartShift
---

<h1>POSTS</h1>
<ol>
  <% data.Post.Post.each do |id, partner| %>
    <li>
	<h3><%= partner["title"] %><h3>
	<% if !partner.image.empty? %>
	  <%= image_tag partner.image.url, alt: 'logo', class: 'img-responsive' %>
	<% end %>
	<p><%= partner["body"] %></p>
	<hr/>
	</li>
  <% end %>
</ol>